html{
    height:100%;
}

body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    height:100%;
}
.body_home{
    background-image: url('images/background-01-port.png');
    background-image: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.body_meals{
    background-image: url('images/background-02-port.png');
    background-image: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*==============Header==========*/
.header{
    background-color: #2196f3;
    width:100%;
    height:50px;
    top: 0;

    position: fixed;
    overflow: hidden;

    text-align: center;
}
.header i{
    float: left;
    padding:17px 0 0 17px;
    color: #ffffff;
}
.header img{
    width:150px;
    padding-top: 14px;
    padding-right: 25px;
}
/*==============Home Page==========*/
#home_logo_img{
    width:50px;
    display:block;
    margin:auto;
    padding: 25px 10px 10px 10px;
}
#home_logo_text{
    width:auto;
    display:block;
    margin:auto;
    padding:25px;
}
/*==============Home Page Menu==========*/
.home_menu_item{
    text-decoration: none;
    text-transform: uppercase;
    color:white;

    font-size:25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    
    display:block;
    margin:auto;
    margin-bottom: 10px;
    width:80%;
}

/*==============Meals Page==========*/

/*==============Meals Page Menu==========*/
#meals{
    padding-top: 50px;
}

.meals_list a{
    text-decoration: none;
}
.meals_list_item{
    border: 5px solid #1a1a1a;
    margin: 10px;
}

.meals_list_item h1{
    font-weight: bold;
    font-size: 20px;
    color:#1a1a1a;
    padding-left: 10px;
}
.meals_list_item i{
    float:right;
    color:#1a1a1a;
    padding-right: 10px;
}
.meals_list_item p{
    font-size: 15px;
    font-style: italic;
    color: #4d4d4d;
    margin-top: -7px;
    padding-left: 10px;
}

/*==============Recipe Page==========*/
#recipe{
    padding-top: 50px;
}

/*==============Recipe Details==========*/
.recipe_details img{
    width: 100%;
}
.recipe_details h1{
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
}
.recipe_details h2{
    font-size:20px;
    text-align: left;
    margin:0;
    margin-left:10px;
}
.recipe_details_info{
    margin-left: 25px;
    margin-right: 25px;
}
.recipe_details_info p{
    font-size:13px;
    display: inline-block;
}
.recipe_details_ingredients input{
    line-height: 25px;
    margin-left: 10px;
}
.recipe_details_steps{
    padding-top: 20px;
}
.recipe_details_steps ol{
    padding-left:28px;
}

/*==============Responsive Layout==========*/
@media only screen and (min-width:600px){
    #meals{
        width:80%;
        margin:auto;
    }
    #recipe{
        width: 80%;
        margin:auto;
    }
}
@media only screen and (min-width:1000px){
    #meals{
        width:60%;
        margin:auto;
    }
    #recipe{
        width: 60%;
        margin:auto;
    }
}
@media only screen and (min-width:1500px){
    #meals{
        width:40%;
        margin:auto;
    }
    #recipe{
        width: 40%;
        margin:auto;
    }
}
@media only screen and (min-width:720){
    .body_home{
        background-image: url('images/background-01-land.png');
    }
    .body_meals{
        background-image: url('images/background-02-land.png');
    }
}